/* credit to @godmoded */

body {
    background-color: #676767;
    opacity: 0.8;
    background-image: linear-gradient(30deg, #3a3a3a 12%, transparent 12.5%, transparent 87%, #3a3a3a 87.5%, #3a3a3a), linear-gradient(150deg, #3a3a3a 12%, transparent 12.5%, transparent 87%, #3a3a3a 87.5%, #3a3a3a), linear-gradient(30deg, #3a3a3a 12%, transparent 12.5%, transparent 87%, #3a3a3a 87.5%, #3a3a3a), linear-gradient(150deg, #3a3a3a 12%, transparent 12.5%, transparent 87%, #3a3a3a 87.5%, #3a3a3a), linear-gradient(60deg, #3a3a3a77 25%, transparent 25.5%, transparent 75%, #3a3a3a77 75%, #3a3a3a77), linear-gradient(60deg, #3a3a3a77 25%, transparent 25.5%, transparent 75%, #3a3a3a77 75%, #3a3a3a77);
    background-size: 70px 123px;
    background-position: 0 0, 0 0, 35px 61px, 35px 61px, 0 0, 35px 61px;
}

/*

    <div class="container">
        <h1>TikTok Downloader</h1>
        <form action="/video/download" method="post">
            <input type="text" name="url" placeholder="Enter TikTok Video URL" required>
            <button type="submit">Download</button>
        </form>
    </div>
*/

/* h1 on top of the page */
/* the rest of the content below */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input[type="text"] {
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 25px 0 0 25px;
}

.container form button {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    background: #ff2d55;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.container form input[type="text"]::placeholder {
    color: #b3b3b3;
}

.container form button:hover {
    background: #ff2d55;
}

.container form button:active {
    transform: scale(0.95);
}